header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.input-checkbox {
    padding: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: left;

    background-color: rgb(33, 33, 33, 0.6);
}

.row {
    height: 100vh;
    background-image: url('../img/galaxy1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* without-todo */


